

body{
    padding: 0;
    margin: 0;    
    width:100vw;
    height: 100vh;    
}
.panel{
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.question-container{
    margin: 10px;
    padding: 5px;
    width: 60vw;
    height: 10vh;
    background-color: #fff06c;
    font-size: x-large;
    text-align: center;
      
}
.result{
    margin: 10px;
    padding: 5px;
    width:80vw;
    height: 10vh;
    text-align: center;
    font-size: 45px;
      
}
.score{
    margin: 10px;
    padding: 5px;
    width:80vw;
    height: 10vh;
    text-align: left;
    font-size: 30px;

}
.option-container{
    display: flex;
    justify-content: space-around; 
    margin: 10px;
    padding: 5px;
    width: 100vw;
    height: 20vh;
    background-color: #fff06c;   
        
}
.option{   
    display: center; 
    padding: 10px;
    width: 20vw;
    height: 15vh;
    font-size: larger;
    background-color: rgb(51, 142, 158);
    border-radius: 5%;
}
.option:hover{
    background-color: lightgoldenrodyellow;
}
.navigation{
    width: 80vw;
    height: 10vh;
    margin: 10px;
    padding: 5px;
    display: flex;
    justify-content: space-around;
    background-color:#c7dddf;
}
  
.evaluate,.next{
    width:30vw;
    height: 8vh;
    padding: 5px;
    font-size: larger;
}
.evaluate{
    
    background-color: #50DBB4;
}
.next{
    color: white;
    background-color: rgb(51, 142, 158);
}